.layout-header-menu {
	float: right;
	line-height: 45px;
	text-align: center;
}

.layout-header {
	position: relative;
	box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, .05);
	background: #fff;
	height: 46px;
	line-height: 46px;
	padding: 0;
}

.layout-header-menu {
	float: right;
	line-height: 45px;
	text-align: center;
}
